@import "seattletimes";
@import "tender";

.ad {
  overflow: hidden;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 48px;
}

main {
  max-width: 970px;
  padding: 20px;
  margin: auto;

  @media @mobile {
    padding: 4px;
  }
}

.interactive {
  margin: 20px 0;

  @media @mobile {
    margin: 0 0 20px;
  }
}

.playlist-container {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  .display-flex();
  overflow: hidden;
  font-family: @df-sans;

  @media @tablet {
    .flex-wrap(wrap);
  }

  li {
    display: inline-block;
    padding: 8px 16px;
    position: relative;
    cursor: pointer;
    .flex(1);

    @media @tablet {
      .flex(0 0 33%);
    }

    @media @mobile {
      .flex(0 0 50%);
    }

    &::before {
      content: "▶";
      color: white;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 20px;
      font-size: 25px;
      text-shadow: 0 0 4px fade(black, 50%);
      transition: all .3s linear;
      opacity: 0.5;
    }

    &:hover::before {
      opacity: 1;
      font-size: 30px;
    }

    @media @mobile {
      float: left;
      width: 50%;
    }

    img.thumbnail {
      display: block;
      width: 100%;
    }

    .description {
      display: block;
      text-align: center;
      font-size: 14px;
    }
  }
}

.profiles {
  .display-flex();
  .flex-wrap(wrap);

  @media @mobile {
    display: block;
  }

  .person {
    padding: 20px 0;
    .display-flex();
    .flex(0 0 50%);
    font-size: 14px;

    @media @mobile {
      // display: block;
    }

    .mug-container {
      padding-right: 10px;
      img { width: 100% }
      .flex(0 0 33%);
    }

    h3 {
      margin: 0;

      @media @mobile {
        font-size: 22px;
      }
    }

    ul {
      list-style-type: none;
      padding: 0 10px 0 0;
      font-family: @df-sans;
      margin: 0;
    }

    b {
      color: @df-orange;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 120%;
    }
  }
}

.embedded {
  max-width: 970px;
  margin: auto;
  font-family: @df-sans;
  font-size: 16px;

  h1 {
    font-family: @df-sans;
    font-size: 28px;
    text-align: left;
    margin-top: 0;
  }

  .outgoing {
    display: block;
    font-weight: bold;
  }

  main {
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid @df-light-gray;
    border-bottom: 1px solid @df-light-gray;
  }

  h1, .chatter, .outgoing {
    padding: 0 8px;
  }
}

.story-pitch {
  background: @df-light-gray;
  overflow: hidden;
  // color: white;
  margin-top: 40px;
  border-radius: 20px;
  padding: 20px;

  @media @mobile {
    padding: 0;
    border-radius: 0;
  }

  .splash {
    width: 70%;
    float: right;
    margin-left: 20px;

    @media @mobile {
      display: block;
      width: 100%;
    }
  }

  .description {
    padding: 10px 20px;
  }

  h2 {
    margin: 0;
  }

  a.jump {
    display: block;
    text-align: right;
    margin-top: 20px;
  }
}

.credits {
  margin: 20px 0;
  padding: 0;
  font-style: italic;
  list-style-type: none;
  font-family: @df-sans;
}

.credits-inline {
  font-style: italic;
  text-align: right;
  font-size: 15px;
}