@import "seattletimes";
@import "tender";

main {
  max-width: 970px;
  padding: 20px;
  margin: auto;

  @media @mobile {
    padding: 4px;
  }
}

.interactive {
  margin: 20px;

  @media @mobile {
    margin: 0;
  }
}