@transition-time: .3s;

.tender-container {
  width: 400px;
  max-width: 100%;
  margin: auto;
  position: relative;
  font-family: @df-sans;
  border-width: 80px 20px 80px 20px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  transition: width @transition-time ease-in-out, border @transition-time ease-in-out;

  @media @mobile {
    border: none;
  }

  &::before {
    position: absolute;
    top: calc(~"100% + 30px");
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 60px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid fade(white, 50%);
    content: "";
    box-shadow: inset -4px -4px 4px fade(white, 30%);

    @media @mobile {
      display: none;
    }
  }

  .play-video & {
    width: 970px;
    border-width: 0;
  }

  .playlist-selection {
    height: 96px;
    display: block;
    position: relative;
    transition: height @transition-time ease-in-out;
    box-shadow: inset 0 0 16px fade(black, 20%);
    z-index: 999;

    .play-video.desktop & {
      height: 0px;
      overflow: hidden;
    }

    &::before {
      content: "Playlist selection";
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 15px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-weight: normal;
      color: @df-middle-gray;
    }

    .thumbnail {
      position: absolute;
      box-shadow: 0 12px 16px fade(black, 8%), 0 4px 4px fade(black, 12%);
      width: 30%;
      top: 20px;

      &:first-child {
        left: 10px;
      }

      &:nth-child(2) {
        left: 50%;
        transform: translate(-50%);
      }

      &:nth-child(3) {
        right: 10px;
      }

      &.dummy {
        height: 60px;
        border: 1px dashed @df-middle-gray;
        background: transparent;
        z-index: -999;
      }
    }
  }

  .thumbnail {
    width: 160px;
    background: black;

    img {
      width: 100%;
      display: block;
    }

    &.pending {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      &.left { left: 10px; }
      &.right { right: 10px; }
    }

  }

  .swipe-viewport {
    overflow: hidden;
  }

  .swipe-container {
    position: relative;
    height: 300px;
    cursor: grab;
    transition: height @transition-time ease-in-out;

    &::before {
      content: "< Swipe to choose >";
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 12px;
      z-index: 999;
      letter-spacing: 1px;
    }

    &.moving {
      cursor: grabbing;
    }

    &.transition {
      transition: all @transition-time ease-in-out;
    }

    &.whiteout {
      opacity: 0;
    }

    .play-video & {
      height: 0px;
    }

    h1 {
      color: white;
      font-size: 28px;
      text-shadow: 0 0 4px fade(black, 40%);
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99999;
      padding: 16px;
    }

    &.right-leaning .left.side .content,
    &.left-leaning .right.side .content {
      opacity: 0;
    }

    &.right-leaning .right.side .content,
    &.left-leaning .left.side .content {
      opacity: 1;
    }
  }

  .thumbnail {
    pointer-events: none;
    max-width: 40%;
  }

  .side {
    position: absolute;
    width: 200%;
    height: 100%;

    .content {
      padding: 16px 24px;
      width: 25%;
      bottom: 0;
      position: absolute;
      color: white;
      text-transform: uppercase;
      display: block;
      opacity: .8;
      font-size: 20px;
      transition: opacity .4s linear;
      line-height: 1;
      font-weight: bold;
      text-align: center;

      &::after, &::before {
        position: absolute;
        top: 30%;
        font-size: 20px;
      }
    }

    &.left {
      right: 50%;
      text-align: right;
      background: desaturate(salmon, 40%);

      .content {
        right: 0;

        &::after {
          content: "»";
          right: 4px;
        }
      }
    }

    &.right {
      left: 50%;
      text-align: left;
      background: desaturate(slateblue, 40%);

      .content {
        left: 0;

        &::before {
          content: "«";
          left: 4px;
        }
      }
    }

  }
}

.video-container {

  overflow: hidden;

  .aspect-inner {
    height: 1px;
    padding-bottom: 1px;
    position: relative;
    left: 99999999px;
    transition: padding @transition-time ease-in-out;

    .play-video & {
      left: 0;
      padding-bottom: percentage(9 / 16);
    }
  }

  #bc-player {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}