.tender-container {
  width: 360px;
  max-width: 100%;
  margin: auto;
  border: 1px dotted @df-blue;
  position: relative;
  overflow: hidden;
  font-family: @df-sans;
  font-weight: bold;

  .playlist-selection {
    height: 100px;
    display: block;
    position: relative;
  }

  .thumbnail {
    width: 100px;
    height: 100px * 9 / 16;
    background: black;

    &.pending {
      position: absolute;
      top: 50%;

      &.left { left: 30px; }
      &.right { right: 30px; }
    }

  }

  .swipe-container {
    position: relative;
    height: 400px;
    overflow: hidden;

    &.transition {
      transition: all .3s ease-in-out;
    }

    &.whiteout {
      opacity: 0;
    }

    h1 {
      color: white;
      font-size: 40px;
      position: absolute;
      top: 0;
      text-align: center;
      left: 0;
      width: 100%;
      z-index: 999;
      padding: 16px;
      text-shadow: 0 0 4px black;
    }

    &.right-leaning .left.side .content,
    &.left-leaning .right.side .content {
      color: transparent;
      transition: color .4s linear;
    }

    &.right-leaning .right.side .content,
    &.left-leaning .left.side .content {
      font-size: 150%;
      transition: font-size .4s ease-in-out;
    }
  }

  .side {
    position: absolute;
    width: 200%;
    height: 100%;

    .content {
      padding: 16px;
      width: 25%;
      bottom: 0;
      position: absolute;
      color: white;
    }

    &.left {
      right: 50%;
      text-align: right;
      background: teal;

      .content {
        right: 0;

        &::after {
          content: ">";
        }
      }
    }

    &.right {
      left: 50%;
      text-align: left;
      background: salmon;

      .content {
        left: 0;

        &::before {
          content: "<";
        }
      }
    }

  }
}