<div class="tender-container">
  <div class="swipe-viewport">
    <div class="swipe-container"></div>
  </div>
  <div class="video-container">
    <div class="aspect-inner">
      <video
        data-account="1509317113"
        data-player="VkZ4EROte"
        data-embed="default"
        id="bc-player"
        class="video-js"
      ></video>
    </div>
  </div>
  <div class="playlist-selection">
    <div class="dummy-outlines">
      <% for (var i = 0; i < 3; i++) { %>
      <div class="dummy thumbnail"></div>
      <% } %>
    </div>
  </div>
</div>