<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body class="embedded">

    <responsive-child>
      <main>
        <h1>Does online dating feel like work?</h1>

        <p>
          In today’s romantic tradition, match with your online-dating video playlist by swiping left or right to choose between three sets of videos. Or, click the thumbnails underneath to watch individual clips in any order.
        </p>
        <%= t.include("_tenderContainer.html") %>
        <a href="http://projects.seattletimes.com/2016/online-dating/" class="outgoing" target="_parent">
          See outtakes, extras, and more &raquo;
        </a>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
  </body>
</html>
