<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body class="embedded">

    <responsive-child>
      <h1>Does online dating feel like work?</h1>

      <p>
        In the best romantic tradition, we're going to match you with your perfect online-dating video playlist. In the app below, swipe left or right to choose between three sets of videos. You can also click the thumbnails underneath to watch individual clips in any order, or view outtakes from our interviews.
      </p>
      <%= t.include("_tenderContainer.html") %>
    </responsive-child>

    <script src="app.js" async></script>
  </body>
</html>
