<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

      <%= t.include("partials/_nav.html") %>

      <main>

        <%= t.include("partials/_ad.html", { type: "banner" }) %>

        <h1>Does online dating feel like work?</h1>

        <p>
          Looking for love is no longer the product of kismet or boozy nights out, but ruthless, analytical searches for perfection. Digital daters discuss how they navigate the uncharted waters of online dating.
        </p>
        <p>
          In today's romantic tradition, swipe left or right to create your online-dating video playlist. You can also click the thumbnails underneath to watch individual clips in any order, or view outtakes from the interviews.
        </p>

          <%= t.include("_tenderContainer.html") %>

          <h2>Outtakes and extras</h2>
          <ul class="outtakes playlist-container"></ul>

          <h2>In these videos</h2>
          <div class="profiles">
              <% csv.profiles.forEach(function(row) { %>
              <div class="person" id="<%= row.name %>">
                <div class="mug-container">
                  <img src="./assets/mugs/<%= row.mug %>" class="mugshot">
                </div>
                <div class="details">
                  <h3><%= row.name %>, <%= row.age %></h3>
                  <ul>
                    <li><b>On</b> <%= row.uses %>
                    <li><b>Dates</b> <%= row.dates %>
                    <li><b>Looking for</b> <%= row.looking_for %>
                    <li><b>Hobbies</b> <%= row.hobbies %>
                  </ul>
                </div>
              </div>
              <% }) %>
              <div class="person" id="Renessa Rios-Strong">
                <div class="mug-container">
                  <img src="./assets/mugs/Rios.jpg" class="mugshot">
                </div>
                <div class="details">
                  <h3>Renessa Rios-Strong, 34</h3>
                  <ul>
                    <li><b>Occupation</b> Author, matchmaker and dating expert at MatchDateLove.com
                  </ul>
                </div>
              </div>
          </div>

          <div class="story-pitch">
            <a href="http://seattletimes.com/pacific-nw-magazine/online-dating-is-starting-to-feel-like-a-second-job/">
              <img src="./assets/splash.jpg" class="splash">
            </a>
            <div class="description">
              <h2>In Pacific NW Magazine</h2>
              <p>Looking for love: These days it's a data-driven quest for perfection.
              <a class="jump" href="http://seattletimes.com/pacific-nw-magazine/online-dating-is-starting-to-feel-like-a-second-job/">
                Read the full story
              </a>
            </div>
          </div>

          <ul class="credits">
            <li> Photo and video: Erika Schultz
            <li> Video and editing: Corinne Chin
            <li> Interactive development: Thomas Wilburn
            <li> Music from: Podington Bear, Kevin MacLeod, Audionautix, Blue Dot Sessions


          </ul>

      </main>

      <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
