<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

      <%= t.include("partials/_nav.html") %>

      <main>

        <%= t.include("partials/_ad.html", { type: "banner" }) %>

        <h1>What's your sign?</h1>

        <section class="interactive">
          <%= t.include("_tenderContainer.html") %>
        </section>

      </main>

      <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
