<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

      <%= t.include("partials/_nav.html") %>

      <main>

        <%= t.include("partials/_ad.html", { type: "banner" }) %>

        <h1>Does online dating feel like work?</h1>

        <p>
          Looking for love is no longer the product of kismet or boozy nights out, but ruthless, analytical searches for perfection. Digital daters discuss how they navigate the uncharted waters of online dating.
        </p>
        <p>
            In today’s romantic tradition, match with your online-dating video playlist by swiping left or right to choose between three sets of videos. You can also click the thumbnails underneath to watch individual clips in any order, or view outtakes from the interviews.
        </p>

          <%= t.include("_tenderContainer.html") %>

          <h2>Outtakes and extras</h2>
          <ul class="outtakes playlist-container"></ul>

          <div class="story-pitch">
            <a href="http://seattletimes.com/pacific-nw-magazine/online-dating-is-starting-to-feel-like-a-second-job/">
              <img src="./assets/splash.jpg" class="splash">
            </a>
            <div class="description">
              <h2>In Pacific NW Magazine</h2>
              <p>Looking for love: these days it's a data-driven quest for perfection.
              <a href="http://seattletimes.com/pacific-nw-magazine/online-dating-is-starting-to-feel-like-a-second-job/">
                Read the full story
              </a>
            </div>
          </div>

      </main>

      <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
